.game-rules .button1 {
  margin: 10px;
}

.game-rules .brokolik {
  width: 40%;
}

.game-rules__button {
  margin-right: auto;
}
.game-rules__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
