.rules .button1 {
  margin: 10px;
}

.rules .brokolik {
  width: 40%;
}

.rules__button {
  margin-right: auto;
}
.rules__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
