.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
}

.intro .button1 {
  margin: 10px;
}

p {
  padding-top: 30px;
}
.intro .brokolik {
  width: 60%;
  float: right;
  margin-top: -30px;
  margin-left: 50px;
}

.intro__button {
  margin-right: auto;
}

a:link,
a:visited {
  text-decoration: none;
}
