.box {
  display: inline-block;
}

.box__img {
  margin-bottom: 30px;
}

.game1-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game1__image {
  height: 150px;
}

/* robot: 
position: absolute;
    left: 4%;
    top: 81%;
    width: 35%; */
