.test {
  background-color: #0fc6d9;
}
.map {
  padding: 10px;
  position: relative;
}
.map__image {
  width: 100%;
}

.level1 {
  position: absolute;
  left: 13%;
  top: 13%;
  width: 30%;
}

.level2 {
  position: absolute;
  left: 58%;
  top: 32%;
  width: 35%;
}

.level3 {
  position: absolute;
  left: 30%;
  top: 57%;
  width: 30%;
}

.highlight-level {
  /* filter: drop-shadow(1px 12px 2px white); */
  /* filter: drop-shadow(1px 12px 2px black); */
  filter: drop-shadow(0 0 10px rgb(147, 4, 135));
}

@media (min-width: 1020px) {
  .map__image {
    max-width: 760px;
  }
}
