.map {
  background-color: #0fc6d9;
  padding: 10px;
  max-width: 400px;
  position: relative;
}

.map__image {
  width: 100%;
}

.level1 {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 30%;
}

@media (min-width: 1020px) {
  .map__image {
    max-width: 760px;
  }
}
