.map {
  background-color: #0fc6d9;
  padding: 10px;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
  margin: 0;
}

.map__image {
  width: 100%;
}

.level1 {
  position: absolute;
  left: 13%;
  top: 13%;
  width: 30%;
}

.level2 {
  position: absolute;
  left: 58%;
  top: 32%;
  width: 35%;
}

.level3 {
  position: absolute;
  left: 30%;
  top: 57%;
  width: 30%;
}

@media (min-width: 1020px) {
  .map__image {
    max-width: 760px;
  }
}
