.logo-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 8vmin;
  margin-top: 0;
}

.logo {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  display: block;
  background-color: #85b794;
  color: white;
  font-size: x-large;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.088);
  cursor: pointer;
}

.button2 {
  display: block;
  background-color: #33456f;
  color: white;
  font-size: x-large;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.088);
  cursor: pointer;
}

a {
  color: white;
}
/* tyto media jsou od min šířky 360px až po širokoúhlé monitory (tedy pro vše) */
@media only screen and (min-width: 360px) {
  .button1,
  .button2 {
    width: 200px;
  }
}
