.rhyme__text {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  white-space: pre-wrap;
}

.content__images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
