/*.container {
  display: flex;
  text-align: center;
  justify-content: center;
}*/

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.characters {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-around;
}

.characters img {
  height: 30vmin;
}

.brokolik {
  display: flex;
}

.karotka {
  display: flex;
}

.cilik {
  display: flex;
}
