.container {
  padding: 20px;
}
.characters {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-around;
  padding-bottom: 20px;
  text-align: center;
}

.characters img {
  height: 30vmin;
}
.about__title {
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  padding-bottom: 10px;
}
.about p {
  line-height: 1.2;
}
